services:
  isaac-sim:
    profiles:
      - ""
      - sitl
    image: &image_tag ${PROJECT_DOCKER_REGISTRY}/${PROJECT_NAME}:v${DOCKER_IMAGE_TAG}_isaac-sim
    build:
      context: ../
      dockerfile: docker/Dockerfile.isaac-ros
      tags:
        - *image_tag
    container_name: isaac-sim
    entrypoint: ""
    command: >
      bash -c "
      tmux new -d -s isaac;
      if [ $$AUTOLAUNCH = 'true' ]; then
        if [ \"${ISAAC_SIM_USE_STANDALONE}\" = 'true' ]; then
          tmux send-keys -t isaac 'run_isaac_python /isaac-sim/AirStack/simulation/isaac-sim/launch_scripts/${ISAAC_SIM_SCRIPT_NAME} --ext-folder ~/.local/share/ov/data/documents/Kit/shared/exts' ENTER
        else
          tmux send-keys -t isaac 'ros2 launch isaacsim run_isaacsim.launch.py install_path:=/isaac-sim gui:=\"${ISAAC_SIM_GUI}\" play_sim_on_start:=\"${PLAY_SIM_ON_START}\" ' ENTER
        fi
      fi;
      sleep infinity"
    # Interactive shell
    stdin_open: true # docker run -i
    tty: true # docker run -t
    ipc: host
    privileged: true
    networks:
      airstack_network:
        ipv4_address: 172.31.0.200 # required to not conflict with other default docker networks on the host machine
    env_file:
      - ./omni_pass.env
    environment:
      - AUTOLAUNCH=${AUTOLAUNCH:-'false'}
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      # Isaac Sim stuff
      - PLAY_SIM_ON_START=${PLAY_SIM_ON_START}
    deploy:
      # let it use the GPU
      resources:
        reservations:
          devices:
            - driver: nvidia # https://stackoverflow.com/a/70761193
              count: 1
              capabilities: [ gpu ]
    volumes:
      # display
      - $HOME/.Xauthority:/isaac-sim/.Xauthority
      - /tmp/.X11-unix:/tmp/.X11-unix
      # isaac sim stuff
      - $HOME/docker/isaac-sim/cache/main:/isaac-sim/.cache:rw \
      - $HOME/docker/isaac-sim/cache/computecache:/isaac-sim/.nv/ComputeCache:rw \
      - $HOME/docker/isaac-sim/logs:/isaac-sim/.nvidia-omniverse/logs:rw \
      - $HOME/docker/isaac-sim/config:/isaac-sim/.nvidia-omniverse/config:rw \
      - $HOME/docker/isaac-sim/data:/isaac-sim/.local/share/ov/data:rw \
      - $HOME/docker/isaac-sim/pkg:/isaac-sim/.local/share/ov/pkg:rw \
      # pegasus integration
      - ../extensions/PegasusSimulator/extensions/pegasus.simulator:/isaac-sim/.local/share/ov/data/documents/Kit/shared/exts/pegasus.simulator/:rw
      # omniverse
      - ./omniverse.toml:/isaac-sim/.nvidia-omniverse/config/omniverse.toml:rw
      - ./user.config.json:/isaac-sim/.local/share/ov/data/Kit/Isaac-Sim Full/5.1/user.config.json:rw # enables pegasus extension; IMPORTANT: set the version number without the trailing .0
      # developer stuff
      - .dev:/isaac-sim/.dev:rw # developer config
      - .bashrc:/isaac-sim/.bashrc:rw # bash config
      - ../../../common/inputrc:/etc/inputrc:rw # for using page up/down to search through command history
      - ../../../common/.tmux.conf:/isaac-sim/.tmux.conf:rw
      # airstack code
      - ../../..:/isaac-sim/AirStack:rw
      - ../../../.devcontainer/isaac-sim/launch.json:/isaac-sim/AirStack/.vscode/launch.json:rw
      - ../../../.devcontainer/isaac-sim/tasks.json:/isaac-sim/AirStack/.vscode/tasks.json:rw

  # ===================================================================================================================
  isaac-sim-gui:
    extends:
      service: isaac-sim
    container_name: isaac-sim-gui
    # don't spawn by default, only when you want to use the GUI
    profiles: !override
      - isaac-sim-gui
    command: >
      bash -c "tmux new -d -s isaac; 
        tmux send-keys -t isaac '/isaac-sim/runapp.sh' ENTER; 
      sleep infinity"
    networks: !reset null
  # ===================================================================================================================
  # for running over ethernet for hitl to stream to the NVIDIA jetson device
  # isaac-sim-hitl:
  #   extends:
  #     service: isaac-sim
  #   profiles: !override
  #     - hitl
  #   container_name: isaac-sim
  #   network_mode: host
  #   networks: !reset null
